<div fxLayout="row" fxLayoutAling="center">
  <div fxLayout="column" fxFlex="900px">
    <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="adicionar()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dados Pessoais</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Nome: *</mat-label>
                <input  type="text"
                        [(ngModel)]="cliente.nome"
                        name="nome"
                        placeholder="Ex: José da Silva"
                        matInput />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Email: *</mat-label>
                <input  type="email" 
                        [(ngModel)]="cliente.email"
                        name="email"
                        placeholder="Digite seu Email" 
                        matInput />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>CPF: *</mat-label>
                <input  type="text"
                        [(ngModel)]="cliente.cpf"
                        name="cpf"
                        placeholder="Digite seu CPF" 
                        matInput />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>Data Nascimento: *</mat-label>
                <input
                    type="text"
                    [(ngModel)]="cliente.dataNascimento"
                    name="dataNascimento"
                    placeholder="Digite sua data de Nascimento"
                    matInput
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          
              <button mat-flat-button color="primary" type="submit">
                <mat-icon fontIcon="save"></mat-icon>
                Salvar
              </button>
              <button mat-flat-button color="primary">
                <mat-icon fontIcon="refresh"></mat-icon>
                Atualizar
              </button>
              <button mat-flat-button color="accent" class="ml-5">
                <mat-icon fontIcon="backspace"></mat-icon>
                Atualizar
              </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
