<div fxLayout="row" fxLayoutAling="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #clientesFrm="ngForm">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Dados Pessoais</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <mat-form-field class="full-width">
                            <mat-label>Nome: *</mat-label>
                            <input type="text" placeholder="Ex: José da Silva" matInput/>
                        </mat-form-field>

                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>

</div>