<div fxLayout="row" fxLayoutAling="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #buscaForm="ngForm">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Consulta</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex="950px">
                            <mat-form-field class="full-width">
                                <mat-label></mat-label>
                                <input matInput placeholder="ex:José" />
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary">
                        <mat-icon fontIcon="serch">Pesquisar</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>

    </div>
</div>
