/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}

.mt-60{
    margin-top: 60px;
}

.ml-5{
    margin-left: 5px;
}
.full-width{
    width: 100%;
}
